NodeRED/script.dat
[{"id":"6997bcbc.652e04","type":"mqtt-broker","z":"","broker":"m23.cloudmqtt.com","port":"16730","clientid":"","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"{'door_01': false}"},{"id":"15c59635.257eba","type":"function","z":"f9ab6314.3613e","name":"setup","func":"msg.login_requested = false;\nmsg.retry_count = 20;\nreturn msg;","outputs":1,"noerr":0,"x":208,"y":166.5000514984131,"wires":[["99ee1517.bbe038"]]},{"id":"27cf821f.f5fd8e","type":"function","z":"f9ab6314.3613e","name":"lobby_login_failed_push","func":"return {\n    type: 'push',\n    title: 'Login failed',\n    _proximi_id: msg._proximi_id,\n    _proximi_visitor_id: msg._proximi_visitor_id\n}","outputs":1,"noerr":0,"x":899.5,"y":260.74999046325684,"wires":[["4aac8b32.842d64"]]},{"id":"10b12633.838c0a","type":"mqtt out","z":"f9ab6314.3613e","name":"close_door_01","topic":"/close/door_01","qos":"","retain":"","broker":"6997bcbc.652e04","x":1268.083251953125,"y":601.1944580078125,"wires":[]},{"id":"2245ed92.6201c2","type":"switch","z":"f9ab6314.3613e","name":"out_check_geofence_is_door","property":"data.geofence","propertyType":"msg","rules":[{"t":"eq","v":"Door_01","vt":"str"}],"checkall":"true","outputs":1,"x":315.5277862548828,"y":615.6389064788818,"wires":[["fa18fd03.5275e","c164830c.baaad"]]},{"id":"3347c1bd.e9f29e","type":"switch","z":"f9ab6314.3613e","name":"is_logged","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":727,"y":352.5000514984131,"wires":[["e70d634b.c5e97"],["516b1e78.78fee"]]},{"id":"16852a6.19202d6","type":"delay","z":"f9ab6314.3613e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1276,"y":404.25000381469727,"wires":[["a0bdcb42.a8d698"]]},{"id":"678aa805.80b258","type":"function","z":"f9ab6314.3613e","name":"elevator_call_to_lobby_data","func":"msg.payload = '{\"template\":{\"data\":[{\"name\":\"sourceAreaId\", \"value\":\"area:9990000508:1000\"}, {\"name\":\"destinationAreaId\", \"value\":\"area:9990000508:3000\"}]}}';\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/vnd.collection+json';\nmsg.headers['Content-Type'] = 'application/vnd.collection+json';\nmsg.headers['x-ibm-client-id'] = '792228a2-f49d-48fa-9bf8-23966b2184bf';\nmsg.headers['x-ibm-client-secret'] = 'cB0xA2vM3gM3iQ8qC2wK7vQ0mI4kF4fJ7cD8uD3eI5dF0xF0kF';\nreturn msg;","outputs":1,"noerr":0,"x":1187,"y":169.5000514984131,"wires":[["21c16156.8a568e"]]},{"id":"991592a1.302c5","type":"function","z":"f9ab6314.3613e","name":"lobby_in_login_push","func":"msg.login_requested = true;\nreturn {\n    type: 'push',\n    title: 'Please authenticate',\n    _proximi_id: msg._proximi_id,\n    _proximi_visitor_id: msg._proximi_visitor_id\n}","outputs":1,"noerr":0,"x":1062.25,"y":346.7500333786011,"wires":[["16852a6.19202d6","4aac8b32.842d64"]]},{"id":"872c9581.798b","type":"mqtt out","z":"f9ab6314.3613e","name":"order_elevator_msg","topic":"/elevator","qos":"","retain":"","broker":"6997bcbc.652e04","x":1601.5,"y":107,"wires":[]},{"id":"5f0ec679.d69e38","type":"mqtt out","z":"f9ab6314.3613e","name":"open_door_02","topic":"/open/door_02","qos":"","retain":"","broker":"6997bcbc.652e04","x":1267.111083984375,"y":646.6111354827881,"wires":[]},{"id":"8c6f3496.845738","type":"switch","z":"f9ab6314.3613e","name":"is_access_door_02","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":906,"y":653.5000514984131,"wires":[["d82e828c.71ead","5f0ec679.d69e38"],["3a3df210.0d93ae","48253815.871578"]]},{"id":"f90bccf6.095c7","type":"http request","z":"f9ab6314.3613e","name":"check_access_door_02","method":"GET","ret":"obj","url":"https://salt.eu-gb.mybluemix.net/api/authorization/false","x":829.25,"y":540.4999904632568,"wires":[["8c6f3496.845738"]]},{"id":"df97a91a.32fb48","type":"http request","z":"f9ab6314.3613e","name":"check_login","method":"GET","ret":"obj","url":"https://salt.eu-gb.mybluemix.net/api/user/authenticated","x":555,"y":350.5000514984131,"wires":[["3347c1bd.e9f29e"]]},{"id":"ab9d35a3.4c3d88","type":"proximiio-event-receiver","z":"f9ab6314.3613e","delete_event":true,"x":131,"y":87.50005149841309,"wires":[["15c59635.257eba"],[]]},{"id":"db38f8f7.0180d8","type":"mqtt out","z":"f9ab6314.3613e","name":"open_door_01","topic":"/open/door_01","qos":"","retain":"","broker":"6997bcbc.652e04","x":1269.333251953125,"y":558.9722290039062,"wires":[]},{"id":"c164830c.baaad","type":"mqtt out","z":"f9ab6314.3613e","name":"close_door","topic":"/close/door_01","qos":"","retain":"","broker":"6997bcbc.652e04","x":542.6666870117188,"y":611.6112060546875,"wires":[]},{"id":"e70d634b.c5e97","type":"function","z":"f9ab6314.3613e","name":"lobby_login_success_push","func":"return {\n    type: 'push',\n    title: 'Welcome! Elevator ordered',\n    _proximi_id: msg._proximi_id,\n    _proximi_visitor_id: msg._proximi_visitor_id\n}","outputs":1,"noerr":0,"x":898,"y":220.5000514984131,"wires":[["4aac8b32.842d64","678aa805.80b258"]]},{"id":"c425537a.c0ef3","type":"switch","z":"f9ab6314.3613e","name":"check_flow_direction","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"enter","vt":"str"},{"t":"eq","v":"exit","vt":"str"}],"checkall":"false","outputs":2,"x":208.86111450195312,"y":523.0277614593506,"wires":[["41d71cf4.9c3204"],["2245ed92.6201c2"]]},{"id":"3eb4e4d5.64683c","type":"proximiio-event-transmitter","z":"f9ab6314.3613e","x":1572.5832633972168,"y":625.1944103240967,"wires":[]},{"id":"516b1e78.78fee","type":"switch","z":"f9ab6314.3613e","name":"login_is_requested","property":"login_requested","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":888.5,"y":416.24999046325684,"wires":[["16852a6.19202d6"],["991592a1.302c5"]]},{"id":"21c16156.8a568e","type":"http request","z":"f9ab6314.3613e","name":"order_elevator_to_lobby","method":"POST","ret":"obj","url":"https://api.kone.com/api/building/9990000508/call/","x":1471,"y":163.24999046325684,"wires":[["26278fa6.8d436","872c9581.798b"]]},{"id":"26278fa6.8d436","type":"debug","z":"f9ab6314.3613e","name":"","active":true,"console":"false","complete":"false","x":1564,"y":299.99999046325684,"wires":[]},{"id":"3a3df210.0d93ae","type":"function","z":"f9ab6314.3613e","name":"door_access_unauthorized","func":"return {\n    type: 'push',\n    title: 'Unauthorized',\n    _proximi_id: msg._proximi_id,\n    _proximi_visitor_id: msg._proximi_visitor_id\n}","outputs":1,"noerr":0,"x":1299.555419921875,"y":733.5556640625,"wires":[["3eb4e4d5.64683c"]]},{"id":"6a6541c6.9a353","type":"inject","z":"f9ab6314.3613e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":694,"y":122,"wires":[["e70d634b.c5e97"]]},{"id":"76478655.b6dc58","type":"http request","z":"f9ab6314.3613e","name":"check_access_door_01","method":"GET","ret":"obj","url":"https://salt.eu-gb.mybluemix.net/api/authorization/true","x":830.25,"y":503.49999046325684,"wires":[["484b50b0.723d7"]]},{"id":"9957ded1.0e199","type":"switch","z":"f9ab6314.3613e","name":"Rate limit checker","property":"rateLimit","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":233,"y":288.5000514984131,"wires":[["c425537a.c0ef3"]]},{"id":"484b50b0.723d7","type":"switch","z":"f9ab6314.3613e","name":"is_access_door_01","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":905,"y":619.5000514984131,"wires":[["d82e828c.71ead","db38f8f7.0180d8"],["3a3df210.0d93ae","10b12633.838c0a"]]},{"id":"3c356059.be90a","type":"switch","z":"f9ab6314.3613e","name":"check_retries","property":"retries","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":513.4999923706055,"y":246.75000190734863,"wires":[["df97a91a.32fb48"],["27cf821f.f5fd8e"]]},{"id":"41d71cf4.9c3204","type":"switch","z":"f9ab6314.3613e","name":"in_check_geofence","property":"data.geofence","propertyType":"msg","rules":[{"t":"eq","v":"Lobby","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":434.2221984863281,"y":424.86107444763184,"wires":[["df97a91a.32fb48"],["df3bce11.d0c59"]]},{"id":"d82e828c.71ead","type":"function","z":"f9ab6314.3613e","name":"door_access_authorized","func":"return {\n    type: 'push',\n    title: 'Authorized',\n    _proximi_id: msg._proximi_id,\n    _proximi_visitor_id: msg._proximi_visitor_id\n}","outputs":1,"noerr":0,"x":1297.72216796875,"y":520.1666870117188,"wires":[["3eb4e4d5.64683c"]]},{"id":"48253815.871578","type":"mqtt out","z":"f9ab6314.3613e","name":"close_door_02","topic":"/close/door_02","qos":"","retain":"","broker":"6997bcbc.652e04","x":1268.3609619140625,"y":688.8333740234375,"wires":[]},{"id":"f96b85e0.1cee68","type":"proximiio-event-transmitter","z":"f9ab6314.3613e","x":705.9999961853027,"y":748.0000152587891,"wires":[]},{"id":"df3bce11.d0c59","type":"switch","z":"f9ab6314.3613e","name":"check_geofence_door","property":"data.geofence","propertyType":"msg","rules":[{"t":"eq","v":"Door_01","vt":"str"},{"t":"eq","v":"Door_02","vt":"str"}],"checkall":"true","outputs":2,"x":561,"y":520.5000514984131,"wires":[["76478655.b6dc58"],["f90bccf6.095c7"]]},{"id":"99ee1517.bbe038","type":"function","z":"f9ab6314.3613e","name":"Rate limiting","func":"// rate limit visitor event for 60 minutes\nvar rateLimit = 4; // Desired time to throttle in minutes\nvar tzOffset = 3600; // compensate timezone offset\n\n// default offset when previous event is not available defaults to -1 hour\nvar defaultOffset = 1000 * 60 * 60;\nvar lastEventTimestamp = new Date().getTime() - defaultOffset;\n\nif (msg.lastEventTimestamp !== undefined) {\n    lastEventTimestamp = new Date(msg.lastEventTimestamp).getTime();\n}\n\nvar now = new Date().getTime();\nvar diff = (now - lastEventTimestamp) / 1000;\n\nmsg.now = now;\nmsg.diff = diff;\nmsg.lastEventTimestamp = lastEventTimestamp;\nmsg.rateLimit = diff <= rateLimit;\n\nreturn msg;","outputs":1,"noerr":0,"x":228,"y":230.5000514984131,"wires":[["9957ded1.0e199"]]},{"id":"4aac8b32.842d64","type":"proximiio-event-transmitter","z":"f9ab6314.3613e","x":1237,"y":233.5000514984131,"wires":[]},{"id":"a0bdcb42.a8d698","type":"function","z":"f9ab6314.3613e","name":"retry_counter","func":"msg.retries = msg.retries - 1;\nreturn msg;","outputs":1,"noerr":0,"x":1328.5,"y":78,"wires":[["3c356059.be90a"]]},{"id":"fa18fd03.5275e","type":"function","z":"f9ab6314.3613e","name":"lock_door","func":"return {\n    type: 'push',\n    title: 'Door locked',\n    _proximi_id: msg._proximi_id,\n    _proximi_visitor_id: msg._proximi_visitor_id\n}","outputs":1,"noerr":0,"x":540.1110992431641,"y":657.1667366027832,"wires":[["f96b85e0.1cee68"]]}]
